{{ form_start(form) }}
        {{ form_row(form.sendTo) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.body) }}
    <button class="btn btn-primary">{{ button_label|default('Send') }}</button>
{{ form_end(form) }}
